@using System.Collections
@using ALEWebApp.Helpers
@using Common
@using Common.Models
@model ALEWebApp.Models.LogicStatementViewModel

<!-- Helper method for recursively constructing a tree-->
@helper ShowTree(IEnumerable<Node> children)
{

foreach (var node in children)
{
    if (node.Token.IsPredicate)
    {
            <li>
                <a href="#">@node.Token.ToString()</a>
            </li>
    }
    else if (node.Token.IsConnective)
    {
            <li>
                <a href="#">@node.Token.ToString()</a>
                <ul>
                    @if (node.Children.Any())
                    {
                        @ShowTree(node.Children)

                    }
                </ul>
            </li>

    }
}
}
<div class="col-12 p-5 content-wrapper">
    @using (Html.BeginForm("Construct", "Main", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-9">
                <div class="h3">
                    List of Valid Logical propositions. <small> on click the proposition is entered in the text field</small>
                </div>
                <hr />
                <div class="list-group">
                    @foreach (var prop in Model.ExampleValidPropositions)
                    {

                        <button type="button" class="list-group-item list-group-item-action propositionExample">
                            @prop
                        </button>
                    }
                </div>
                <br />
                <button type="button" class="btn btn-primary" id="btnRandomProp">
                    Generate random proposition
                </button>
            </div>

        </div>
        <hr />
        <div class="row">

            <div class="col-6">

                <div class="form-group">
                    @Html.LabelFor(m => m.InputProposition, new { })
                    @Html.EditorFor(m => m.InputProposition, new { htmlAttributes = new { @class = @Html.ControlClass(), @id = "tbxInputProposition" } })
                    @Html.ValidationMessageFor(m => m.InputProposition)
                </div>

            </div>
            <div class="col-6"></div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Construct</button>
            </div>

        </div>
        <div class="row">
            <div class="col-12 align-content-center">
                <hr/>
                <h2> Tree Construct (Assignment 1)</h2>
                <div class="parent">
                    <div class="tree">

                        <ul>
                            <li>
                                @if (Model?.Tree != null)
                                {
                                    <!-- Root -->
                                    <a href="#">@Model.Tree.Token.ToString()</a>
                                    <ul>
                                        @ShowTree(Model.Tree.Children)
                                    </ul>
                                }

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12">

                <hr />
                
                <h2>Non simplified Truth Table (Assignment 2)</h2>
                <h3><small>Result as Hash code: </small><span style="color: coral">@Model.TableSchemeHashCode</span></h3>
                @if (Model.TableScheme != null)
                {
                    
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            @foreach (var tableHeader in Model.TableScheme.TableHeaders)
                            {
                                <th>@tableHeader</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var tableRow in Model.TableScheme.DataRows)
                        {
                            <tr>
                                @foreach (var cellValue in tableRow.Values)
                                {
                                    <td>                                            
                                        @cellValue
                                    </td>
                                }
                                <td>
                                    @{
                                        string res = tableRow.Result ? "1" : "0";
                                    }
                                    @res
                                </td>
                            </tr>
                        }
                        </tbody>

                    </table>
                }


            </div>

            <div class="col-12">

                <hr />
                <h2> Simplified Truth Table (Assignment 3)</h2>
                @if (Model.TableSchemeSimplified != null)
                {
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            @foreach (var tableHeader in Model.TableSchemeSimplified.TableHeaders)
                            {
                                <th>@tableHeader</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var tableRow in Model.TableSchemeSimplified.DataRows)
                        {
                            <tr>
                                @foreach (var cellValue in tableRow.Values)
                                {
                                    <td>                                            
                                        @cellValue
                                    </td>
                                }
                                <td>
                                    @{
                                        string res = tableRow.Result ? "1" : "0";
                                    }
                                    @res
                                </td>
                            </tr>
                        }
                        </tbody>

                    </table>
                }

            </div>
        </div>
}
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryValidation")
}
