@using System.Collections
@using ALEWebApp.Helpers
@using Common
@model ALEWebApp.Models.LogicStatementViewModel
<div class="col-12 p-5 content-wrapper">
    @using (Html.BeginForm("Parse", "Parsing", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-6">
                <div class="h3">
                    Examples of valid Propositions
                </div>
                <hr />
                <div class="list-group">
                    @foreach (var prop in Model.ExampleValidPropositions)
                    {

                        <button type="button" class="list-group-item list-group-item-action propositionExample">
                            @prop
                        </button>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="col-6">

                <div class="form-group">
                    @Html.LabelFor(m => m.InputProposition, new { })
                    @Html.EditorFor(m => m.InputProposition, new { htmlAttributes = new { @class = @Html.ControlClass(), @id = "tbxInputProposition" } })
                    @Html.ValidationMessageFor(m => m.InputProposition)
                </div>


            </div>
            <div class="col-6"></div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Construct Tree</button>
            </div>

        </div>
        <div class="row">
            <div class="col-12 align-content-center">
                <div class="tree">

                    <ul>
                        <li>
                            @if (Model?.Tree != null)
                            {
                                <!-- Root -->
                                <a href="#">@Model.Tree.Token.ToString()</a>
                                <ul>

                                    @ShowTree(Model.Tree.Children)

                                    @helper ShowTree(IEnumerable<Node> children)
                                    {

foreach (var node in children)
{
    if (node.Token.IsPredicate)
    {
            <li>
                <a href="#">@node.Token.ToString()</a>
            </li>
    }
    else if (node.Token.IsConnective)
    {
            <li>
                <a href="#">@node.Token.ToString()</a>
                <ul>
                    @if (node.Children.Any())
                    {
                        @ShowTree(node.Children)

                    }
                </ul>
            </li>

    }
}
}
                                </ul>
                            }

                        </li>
                    </ul>
                    
                    
                    
                    <div class="tree">
                        <ul>
                            <li>
                                <a href="#">&</a>
                                <ul>
                                    <li>
                                        <a href="#">></a>
                                        <ul>
                                            <li>
                                                <a href="#">A</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">B</a>
                                        <ul>
                                            <li><a href="#">A</a></li>
                                            <li>
                                                <a href="#">B</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">A</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">B</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">A</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">B</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryValidation")
}
