@using System.Collections
@using ALEWebApp.Helpers
@using Common
@model ALEWebApp.Models.LogicStatementViewModel
<div class="col-12 p-5 content-wrapper">
    @using (Html.BeginForm("Parse", "Parsing", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-6">
                <div class="h1">
                    Example of valid Propositions
                </div>
                <div class="list-group">
                    @foreach (var prop in Model.ExampleValidPropositions)
                    {

                        <a href="#" class="list-group-item list-group-item-action propositionExample">
                            @prop
                        </a>
                    }
                </div>
            </div>
        </div>
        <hr/>   
        <div class="row">

            <div class="col-3">

                <div class="form-group">
                    @Html.LabelFor(m => m.AsciiLogicString, new { @class = Html.LabelClass() })
                    <div class="@Html.ControlClass()">
                        @Html.EditorFor(m => m.AsciiLogicString, new { htmlAttributes = new { @class = @Html.ControlClass() } })
                        @Html.ValidationMessageFor(m => m.AsciiLogicString)
                    </div>
                </div>


            </div>
            <div class="col-9">
                <button type="submit" class="btn btn-primary">Construct Tree</button>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="tree">



                    <ul>
                        <li>
                            @if (Model != null && Model.Tree != null)
                            {
                                <!-- Root -->
                                <a href="#">@Model.Tree.Token.ToString()</a>
                                <ul>

                                    @ShowTree(Model.Tree.Children)

                                    @helper ShowTree(IEnumerable<Node> children)
                                    {

foreach (var node in children)
{
    if (node.Token.IsPredicate)
    {
            <li>
                <a href="#">@node.Token.ToString()</a>
            </li>
    }
    else if (node.Token.IsConnective)
    {
            <li>
                <a href="#">@node.Token.ToString()</a>
                <ul>
                    @if (node.Children.Any())
                    {
                        @ShowTree(node.Children)

                    }
                </ul>
            </li>

    }
}
}
                                </ul>
                            }

                        </li>
                    </ul>
                    @*<ul>
                            <li>
                                <a href="#">&</a>
                                <ul>
                                    <li>
                                        <a href="#">&</a>
                                        <ul>
                                            <li>
                                                <a href="#">=</a>
                                                <ul>
                                                    <li> <a href="#">A</a> </li>
                                                    <li> <a href="#">B</a> </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">></a>
                                                <ul>
                                                    <li>
                                                        <a href="#">&</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">A</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">B</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">~</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">C</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">></a>
                                        <ul>
                                            <li>
                                                <a href="#">A</a>
                                            </li>
                                            <li>
                                                <a href="#">~</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">&</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">A</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">B</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
    }
</div>
